name: "CI"

on:
  pull_request:
  push:
    branches:
      - main
      - "releases/*"

jobs:
  test-code:
    name: Test Code
    env:
      INTEGRATION_TEST_TOKEN: ${{ secrets.GCR_TOKEN }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - run: npm ci
      - run: npm test

  test-actions-delete-latest-n:
    name: Test action delete latest N packages
    runs-on: ubuntu-latest
    needs: [test-code]
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Dummy Image - 0
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: Dockerfile.dummy
          build-args: |
            RUN_NUMBER=${{ github.run_number }}-0
          tags: |
            ghcr.io/${{ github.repository_owner }}/ghcr-delete-image-dummy:testtag-1

      - name: Build and Push Dummy Image - 1
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: Dockerfile.dummy
          build-args: |
            RUN_NUMBER=${{ github.run_number }}-1
          tags: |
            ghcr.io/${{ github.repository_owner }}/ghcr-delete-image-dummy:testtag-2

      - name: Build and Push Dummy Image - 2
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          file: Dockerfile.dummy
          build-args: |
            RUN_NUMBER=${{ github.run_number }}-2
          tags: |
            ghcr.io/${{ github.repository_owner }}/ghcr-delete-image-dummy:testtag-3

      - uses: ./
        with:
          owner: dmcconnell-m
          name: ghcr-delete-image-dummy
          token: ${{ secrets.GITHUB_TOKEN }}
          tagged-keep-latest: 1
          tag-regex: /testtag-./g
